/*font*/
@import "../css/main_menu.css" screen;
@import "../css/menu.css" screen;
@import "../css/header.css" screen;
@import "../css/footer.css" screen;
@font-face {
  font-family: BarlowSemiCondensed-Medium-MediumItalic;
  src: url(../fonts/BarlowSemiCondensed-MediumItalic.ttf);
}
@font-face {
  font-family: BarlowSemiCondensed-SemiBoldItalic;
  src: url(../fonts/BarlowSemiCondensed-SemiBoldItalic.ttf);
}
/*Init*/
body {
  border: 0 none;
  margin: 0;
  padding: 0;
}
/*default value*/
/*h1 {
  font-family: BarlowSemiCondensed-Medium-MediumItalic;
  color: #ff0000;
  padding-left: 30px;
}*/
h2 {
  font-family: BarlowSemiCondensed-Medium-MediumItalic;
  color: #ff0000;
  padding-left: 30px;
  padding-bottom: 70px;
}
p {
  font-family: BarlowSemiCondensed-SemiBoldItalic;
  color: #ff0000;
  text-align: center;
}
marquee {
  font-family: BarlowSemiCondensed-Medium-MediumItalic;
  color: #000000;
}

/*-----------------------------------------------*/

.titlearticle {
  font-family: BarlowSemiCondensed-SemiBoldItalic;
  color: red;
  padding-left: 20px;
}
#documentaires {
  display: flex;
  justify-content: space-between;
  padding-bottom: 400px;
}
.infodoc {
  margin-top: 255px;
  text-align: left;
}
#actualite {
  display: flex;
  justify-content: space-between;
}
.element1 {
  width: 476px;
  height: 261px;
  background: transparent url("../img/Rectangle12.png") 0% 0% no-repeat
    padding-box;
  background-size: 148%;
  border: 1px solid #ff0000;
  opacity: 1;
}
.element2 {
  width: 476px;
  height: 261px;
  background: transparent url("../img/Rectangle182.png") 0% 0% no-repeat
    padding-box;
  background-size: 121%;
  border: 1px solid #ff0000;
  opacity: 1;
}
.element3 {
  width: 476px;
  height: 261px;
  background: transparent url("../img/Rectangle183.png") 0% 0% no-repeat
    padding-box;
  background-size: 100%;
  border: 1px solid #ff0000;
  opacity: 1;
}
.legend {
  width: 476px;
  height: 69px;
  text-align: center;
}
.separation {
  clear: both;
  position: absolute;
  margin-top: 0px;
  margin-left: 60px;
  height: 52px;
  width: 2px;
  background: red;
  color: red;
  border: none;
}
.doc1 {
  width: 428px;
  height: 235px;
  background: transparent url("../img/Rectangle 209.png") 0% 0% no-repeat
    padding-box;
  border: 1px solid #ff0000;
  opacity: 0.47;
  margin-left: 20px;
  margin-right: 20px;
}
.doc2 {
  width: 428px;
  height: 235px;
  background: transparent url("../img/Rectangle 210.png") 0% 0% no-repeat
    padding-box;
  border: 1px solid #ff0000;
  opacity: 0.47;
  margin-right: 20px;
}
.doc3 {
  width: 428px;
  height: 235px;
  background: transparent url("../img/Rectangle 211.png") 0% 0% no-repeat
    padding-box;
  border: 1px solid #ff0000;
  opacity: 0.47;
  margin-right: 20px;
}
.doc4 {
  width: 428px;
  height: 235px;
  background: transparent url("../img/Rectangle 212.png") 0% 0% no-repeat
    padding-box;
  border: 1px solid #ff0000;
  opacity: 0.47;
  margin-right: 20px;
}
html body footer div ul li a {
  color: white;
  padding: 14px 50px;
}
/*check ok*/
.button-interview {
  font-family: BarlowSemiCondensed-SemiBoldItalic;
  display: inline-block;
  background-color: #ff0000;
  border-radius: 50px;
  border: 1px double #ff0000;
  color: #eeeeee;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  /*center button*/
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.button-interview span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button-interview span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button-interview:hover {
  background-color: white;
  color: red;
  border: 1px double white;
}
.button-interview:hover span {
  padding-right: 25px;
}
.button-interview:hover span:after {
  opacity: 1;
  right: 0;
}
/*check ok*/
.button-interview {
  font-family: BarlowSemiCondensed-SemiBoldItalic;
  display: inline-block;
  background-color: #ff0000;
  border-radius: 50px;
  border: 1px double #ff0000;
  color: #eeeeee;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  /*center button*/
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.button-contact span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button-contact span:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}
.button-contact:hover {
  background-color: white;
  color: red;
  border: 1px double white;
}
.button-contact:hover span {
  padding-right: 25px;
}
.button-contact:hover span:after {
  opacity: 1;
  right: 0;
}
