* {
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
}
body {
  font-family: "PT Sans", Arial, Verdana;
  background-color: #eee;
}
h1 {
  text-align: center;
  font-size: 48px;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #222;
}
.menuhorizontal {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 75px;
  margin: auto;
  position: relative;
  background-color: red;
  z-index: 7;
}
.menuhorizontal li {
  float: left;
  width: 10%;
  height: 100%;
  margin-right: 35%;
  padding: 0;
}
.menuhorizontal a {
  display: -webkit-box;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  position: relative;
  font-size: 18px;
  z-index: 9;
}
/*a.active {
  background-color: #e74c3c;
  pointer-events: none;
}*/
/*li.slider {
  width: 25%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #e74c3c;
  z-index: 8;
  -webkit-transition: left 0.4s, background-color 0.4s;
  transition: left 0.4s, background-color 0.4s;
}*/
